/*ESCARDO Tristan*/



.bleu_booki
{
	color: #0065FC;
}

.gris_booki
{
	color: #F2F2F2;
}

.d-flex
{
	display: flex;
}

.f-w-bold
{
	font-weight: 800;
}


header, section
{
	margin-left: 2%;
}

nav
{
	height: 60px;
}

.logo_booki
{
	padding: 40px 0 0 15px;
}

.conteneur_nav_heb_act
{
	width: 90%;
	justify-content: flex-end;
}

.conteneur_nav_heb_act > a
{
	font-size: 16px;
	padding: 40px 25px 0 25px;
}

.conteneur_nav_heb_act > a:hover
{
	border-top: 2px solid #0065FC;
	color: #0065FC;
	padding-top: 38px;
}

.conteneur_premier_titre > h1
{
	font-size: 22px;
	margin-top: 52px;
}

.conteneur_premier_titre > p
{
	font-size: 16px;
	font-weight: 400;
	position: relative;
	bottom: 10px;
}

.fa-location-dot
{
	background-color: #F2F2F2;
	border-radius: 15px 0 0 15px;
	width: 28px;
	padding: 13px 0 0 19px;
}

input
{
	height: 41px;
	width: 200px;
	border: 1px solid #F2F2F2;
	padding-left: 15px;
}

button
{
	color: white;
	font-size: 14px;
	background-color: #0065FC;
	width: 110px;
	height: 45px;
	border: none;
	border-radius: 0 10px 10px 0;
}

.icone_bouton
{
	display: none;
}

.menu_filtres
{
	width: 100%;
	margin-top: 25px;
}

.titre_filtres
{
	margin-right: 10px;
	font-size: 16px;
}

.filtres
{
	margin: 0 10px 0 10px;
	border: 2px solid lightgray;
	border-radius: 100px;
	height: 41px;
}

.icone_filtres
{
	background-color: #DEEBFF;
	border: 2px solid #DEEBFF;
	border-radius: 100px;
	width: 28px;
	height: 30px;
	padding: 12px 0 0 12px;
	font-size: 16px;
	position: relative;
	right: 2px;
	bottom: 3px;
}

.filtres:hover
{
	cursor: pointer;
	background-color: #DEEBFF;
	border-color: #DEEBFF;
	font-size: 20px;
	transition: background 1s;
}

.filtres:hover .icone_filtres
{
	transform: rotate(360deg);
	transition: transform 1s;
}

.filtres:hover .texte_filtres
{
	color: #0065FC;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	transition: color 0.8s, font 0.8s;
}
.texte_filtres
{
	padding: 0 16px 0 6px;
	margin: auto;
}

.information
{
	margin-top: 30px;
}

.fa-info
{
	width: 12px;
	height: 15px;
	border: 1px solid lightgray;
	border-radius: 30px;
	margin-right: 10px;
	font-size: 11px;
	padding: 5px 2px 2px 8px;
}

.texte_information
{
	margin-top: 3px;
}

#hebergements_populaires
{
	margin-top: 20px;
	justify-content: space-between;
}

.section_hebergements_marseille
{
	flex-direction: column;
	background-color: #F2F2F2;
	border-radius: 20px 20px 20px 20px;
	width: 70%;
	margin: 2% 0 2% 0;
}

.titre_hebergements
{
	padding: 20px 0 0 4%;
	font-size: 22px;
	width: 100%;
}

.hebergements_marseille
{
	flex-wrap: wrap;
	margin: 0 2% 2% 2%;
}

.lien_hebergement
{
	margin: 2%;
	width: 29%;
	height: 200px;
}

.hebergement
{
	width: 100%;
	height: 100%;
	background-color: white;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 2px 2px 30px -18px black;
}

.image_hebergement
{
	border-radius: 15px 15px 0 0;
	width: 100%;
	height: 58%;
	object-fit: cover;
}

.conteneur_texte_hebergement
{
	font-size: medium;
	position: relative;
	bottom: 93px;
}

.texte_hebergement
{
	padding-left: 10px;
	font-weight: bold;
}

.sous_texte_hebergement
{
	font-size: small;
	position: relative;
	bottom: 5px;
	left: 10px;
}

.etoiles_marseille
{
	padding-top: 10px;
	font-size: 12px;
	position: relative;
	bottom: 20px;
	left: 10px;
}

.afficher_plus
{
	padding: 0 0 15px 35px;
}

#plus_populaires
{
	flex-direction: column;
	align-items: center;
	background-color: #F2F2F2;
	border-radius: 20px 20px 20px 20px;
	margin: 2%;
	width: 25%;
}

.conteneur_titre_populaire
{
	width: 85%;
	padding-left: 3%;
	margin-top: 5%;
}

.titre_plus_populaires
{
	font-size: 22px;
	width: 89%;
}

.conteneur_titre_populaire > .fa-star
{
	padding-top: 15px;
	font-size: 20px;
}

.lien_case_populaire
{
	width: 85%;
	margin: 5% 0 5%;
	background-color: white;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 2px 2px 30px -20px black;
}

.lien_case_populaire > picture
{
	height: 140px;
	width: 30%;
}

.image_populaire
{
	width: 100%;
	height: 100%;
	border-radius: 15px 0 0 15px;
	object-fit: cover;
}

.conteneur_texte_populaire
{
	flex-direction: column;
}

.texte_populaire
{
	font-weight: bold;
	position: relative;
	left: 10%;
	bottom: 5%;
	width: 92%;
}

.sous_texte_populaire
{
	font-size: small;
	padding-left: 10%;
	position: relative;
	bottom: 15%;
	margin-bottom: 9%;
}

.etoiles_populaires
{
	padding-left: 10%;
	font-size: 11px;
}

#section_activites
{
	padding-top: 25px;
}

.titre_activites
{
	font-size: 22px;
	margin: 20px 0 20px 12px;
}

.conteneur_activites
{
	height: 425px;
	margin-left: initial;
}

.conteneur_activites > a
{
	height: 100%;
}

.image_xlarge_activite
{
	height: 85%;
}

.texte_activite
{
	padding-left: 20px;
	position: relative;
	bottom: 1.5%;
}

.conteneur_activites > div
{
	display: flex;
	flex-direction: column;
	width: 23%;
	margin: 0 3%;
	justify-content: space-between;
}

.case_large_activite
{
	height: 47%;
}

.image_large_activite
{
	height: 73%;
}

.case_small_activite
{
	height: 40%;
}

.image_small_activite
{
	height: 63%;
}

.case_medium_activite
{
	height: 40%;
}

.image_medium_activite
{
	height: 65%;
}

.conteneur_activites > a, .case_large_activite, .case_medium_activite, .case_small_activite
{
	background-color: white;
	border-radius: 20px;
	box-shadow: 2px 2px 30px -18px black;
}

.image_xlarge_activite, .image_large_activite, .image_medium_activite, .image_small_activite
{
	width: 100%;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
}

footer
{
	background-color: #F2F2F2;
	padding: 20px 0 0 35px;
	margin-top: 50px;
}

footer div
{
	width: 67%;
	padding-bottom: 40px;
}

footer h3
{
	font-weight: 800;
	font-size: 17px;
}


/* Taille tablettes */
@media screen and (max-width: 992px) and (min-width: 768px)
{
	header, section
	{
		margin: initial;
	}

	.conteneur_nav_heb_act
	{
		text-align: center;
	}

	#recherche_filtres_info
	{
		margin: 2%;
	}

	input
	{
		width: 82%;
	}

	.fa-location-dot
	{
		width: 5%;
		padding: 1.5% 0 0 3%;
	}

	.texte_filtres
	{
		padding-right: 12px;
	}

	#hebergements_populaires
	{
		flex-direction: column-reverse;
		width: 100%;
	}

	.section_hebergements_marseille
	{
		width: 100%;
		margin-bottom: 20px;
		align-items: center;
	}

	#plus_populaires
	{
		margin: 0 0 20px 0;
		width: 100%;
		align-items: center;
	}

	.conteneur_titre_populaire
	{
		width: 32%;
		align-items: center;
	}

	.conteneur_titre_populaire > .fa-star
	{
		padding: initial;
		font-size: 25px;
	}

	.lien_case_populaire
	{
		width: 80%;
		margin: 20px 0 20px 20px;
	}

	.lien_case_populaire > picture
	{
		height: 180px;
	}

	.image_populaire
	{
		height: 100%;
		width: 200px;
	}

	.conteneur_texte_populaire
	{
		align-items: stretch;
		width: 90%;
		font-size: 20px;
	}

	.texte_populaire
	{
		text-align: justify;
	}

	.sous_texte_populaire
	{
		bottom: 10%;
		margin-bottom: 5%;
		font-size: 17px;
	}

	.etoiles_populaires
	{
		font-size: 17px;
	}
	
	.hebergements_marseille
	{
		height: 100%;
	}

	.titre_hebergements
	{
		width: initial;
	}

	.titre_activites
	{
		text-align: center;
		margin-bottom: 40px;
	}

	.conteneur_activites
	{
		flex-wrap: wrap;
		height: initial;
		justify-content: end;
	}

	.conteneur_activites > a, .case_large_activite, .case_medium_activite, .case_small_activite
	{
		margin-bottom: 8%;
	}	

	.conteneur_activites > a, .conteneur_activites > div
	{
		height: 350px;
		width: 45%;
	}

	.case_large_activite
	{
		width: initial;
		height: 50%;
	}

	.case_medium_activite
	{
		height: 40%;
	}

	footer
	{
		width: 100%;
		margin-top: initial;
		padding: initial;
	}

	footer div
	{
		padding: 0 0 20px 0;
		text-align: center;
	}
}


/* Taille smartphones */
@media screen and (max-width: 767px)
{
	header, section
	{
		margin: 0px;
	}

	nav
	{
		flex-direction: column;
		margin-bottom: 75px;
	}

	.logo_booki
	{
		padding: 0px;
		margin: 15px 0 0 43%;
	}

	.conteneur_nav_heb_act, .titre_filtres, nav, .information, .conteneur_nav_heb_act > a, #hebergements_populaires, #plus_populaires
	{
		width: 100%;
	}

	.conteneur_nav_heb_act
	{
		text-align: center;
	}

	.conteneur_nav_heb_act > a
	{
		border-bottom: 3px solid #F2F2F2;
		padding: 20px 12% 15px 12%;
	}

	.conteneur_nav_heb_act > a:hover
	{
		border-top: none;
		border-bottom: 3px solid #0065FC;
		padding: 20px 12% 15px 12%;
	}

	.texte_bouton
	{
		display: none;
	}

	#recherche_filtres_info
	{
		margin-left: 5%;
	}

	.conteneur_premier_titre
	{
		width: 83%;
		margin: 30px 0 30px 0;
	}

	.conteneur_premier_titre > p
	{
		position: relative;
		bottom: 5px;
	}

	form
	{
		padding-top: 10px;
	}

	input
	{
		width: 65%;
	}

	button
	{
		width: 47px;
		border-radius: 15px;
		position: relative;
		right: 10px;
	}

	.icone_bouton
	{
		display: initial;
	}

	.menu_filtres
	{
		flex-wrap: wrap;
		width: 85%;
		height: 240px;
		justify-content: space-between;
		margin-top: 0px;
	}

	.titre_filtres
	{
		position: relative;
		top: 10px;
	}

	.filtres
	{
		margin: 0;
	}

	.filtres:hover
	{
		font-size: 17px;
	}
	.information
	{
		margin-top: 20px;
	}

	#hebergements_populaires
	{
		flex-direction: column-reverse;
	}

	#plus_populaires
	{
		border-radius: 0;
		padding: 0 0 30px 0;
		margin: initial;
	}

	.conteneur_titre_populaire
	{
		width: 90%;
		padding-left: 3%;
	}

	.lien_case_populaire
	{
		margin: initial;
		margin-top: 3%;
		width: 90%;
	}

	.sous_texte_populaire, .etoiles_populaires
	{
		bottom: 20%;
	}

	.section_hebergements_marseille
	{
		padding: 0;
		background-color: white;
		border: none;
		border-radius: 0;
		width: 100%;
	}

	.hebergements_marseille
	{
		padding: initial;
		margin: initial;
	}

	.titre_hebergements
	{
		padding: 30px 0 0 3%;
		width: 93%;
	}

	.lien_hebergement
	{
		width: 90%;
		margin: 3%;
	}

	.titre_activites
	{
		margin: 0 0 30px 5%;
	}

	.conteneur_activites
	{
		flex-direction: column;
		width: 95%;
		height: initial;
	}

	.conteneur_activites > a, .conteneur_activites > div
	{
		width: 100%;
		margin: initial;
	}

	.conteneur_activites > div
	{
		margin: 5% 0 5%;
	}

	.case_large_activite, .case_medium_activite
	{
		margin-bottom: 5%;
	}

	.conteneur_activites > a, .case_large_activite, .case_medium_activite, .case_small_activite
	{
		width: 95%;
		height: 200px;
		margin-left: 5%;
	}

	.image_xlarge_activite, .image_large_activite, .image_medium_activite, .image_small_activite
	{
		height: 77%;
	}

	footer
	{
		flex-direction: column;
		padding-bottom: 20px;
		margin-top: 20px;
	}

	footer div
	{
		padding: 0;
	}
}